
  .check {
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color:white;
    width:970px;
    height:370px;
    border:5px solid white;
  }
  .border{
      width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right:0;
    border:2px solid black;
  }
  .container{
    background-color:#d9fad1;
    overflow: hidden;
    margin: 3px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right:0;
    border:1px solid black;
  }
  .content{
    margin:5px;
  }
  @import url(https://fonts.googleapis.com/css?family=Damion);
  @import url(https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield);
  
  .one{
    width:100%;
  }
  .title{
    width:300px;
    text-align:center;
    font-family: Helvetica;
    display:inline-block;
    margin-left:25px;
    margin-bottom:40px;
    
   
  }
  
  .ownerName{
    font-family: 'Lobster', cursive;
    font-weight:bold;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:0.4px;
    line-height:150%;
    
  }
  
  .name{
    font-family: 'Satisfy', cursive;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:0.1px;
  }
  .date {
    font-family: 'Inconsolata', monospace;
    /* font-weight: 100px; */
    margin-top:20px;
    font-size:20px;
    margin-left:50px;
    display:inline-block;
    position: absolute;
    top:10px;
    letter-spacing:1px;
    
    
  }
  .following{
    display:inline-block;
    font-family: Helvetica;
    font-size:10px;
    text-transform:uppercase;
    /* border:1px solid; */
    width:417px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left:16px;
    margin-top:10px;
    border-collapse:collapse;
  }
  .line{
    background-color: #d9fad1;
    text-align:center;
    height:26px;
    font-size:12px;
    padding:12;
    
  }
  
  .empty{
    font-family: 'Satisfy', cursive;
    border-top:1px solid;
    text-transform:capitalize;
    
  }
  .table{
    border:1px solid;
  }


  .two{
    width:100%;
    margin-top:16px;
    
  }
  
  .orderof{
    font-family: 'Damion', cursive;
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    float: left;
    width: 28em;
    position: relative;
    padding-top: 0;
    padding: 0 0 0 1em;
    margin: 0px 0 2px 2em;
    line-height: 1;
    height: 32px;
    border-right: 1px solid #333;
    text-align: center;
  }
  .payto{
    font-family: 'Damion', cursive;
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    float: left;
    width: 26em;
    position: relative;
    padding-top: 0;
    padding: 0 0 0 1em;
    margin: 0px 0px 0px 4em;
    /* margin: 0px 0 2px 4em; */
    line-height: 1;
    height: 32px;
    border-right: 1px solid #333;
    text-align: center;
    
  }
  
  .orderof:before {
    font-family: Helvetica;
    font-size: 0.5em;
    content: 'PAY';
    position: absolute;
    left: -3em;
    top: 1.3em;
    
  }
  .payto:before {
    font-family: Helvetica;
    font-size: 0.5em;
    content: 'PAY TO THE';
    position: absolute;
    left: -7em;
    top: 1.3em;
    
  }
  
  .whole{
    border-right:1px dashed #333;
    height:50px;
    width:204px;
    margin-top:0.7px;
  }

  .add{
    width:267px;
    margin-left:80px;
    margin-top:5px;
  
  }

  .three{
    /* margin: 0 10px 30px 0.7em; */
    width: 100%;
    padding-bottom: 0px;
    right: 10;
    /* float: right; */
  }
  .company{
    width:200px;
    text-align:left;
    font-family: Helvetica;
    display:inline-block;
    margin-left:25px;
    margin-bottom:40px;
    
   
  }
  .companyDetails{
    text-transform:uppercase;
    font-size:11px;
    letter-spacing:0.1px;
  }
  .companyName{
    font-weight:bold;
    font-size:15px;
    text-transform:uppercase;
    letter-spacing:0.4px;
    line-height:150%;
    
  }
  

  .adt{
    /* font-family: 'Inconsolata', monospace; */
    /* font-weight: 100px; */
    /* margin-top:20px; */
    font-size:20px;
    /* margin-left:50px; */
    display:inline-block;
    position: absolute;
    top:150px;
    letter-spacing:1px;
    margin: 0;
    padding:0;
    /* text-align: center; */
  }
  .t{
    width:170px;
    height: 40px;
    text-align: center;
    padding-top: 0px;
    font-family: 'Damion';
    /* border: 1px solid #666; */
  }
  .amounttxt{
    text-transform:uppercase;
    font-family: Helvetica;
    font-size: 11px;
    letter-spacing: 0.5px;
    display: inline;
    padding-left: 5px;
    margin-top: 0px;
    text-align: left;
  }
  div.a {
    width: 240px;
    min-height: 40px;
    max-height: 50px;
    /* background-color: rgba(255, 0, 0, 1); */
    margin-left: -60px;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    -ms-transform: rotate(20deg);
    transform: rotate(315deg);
    z-index: 2;
    position: absolute;
    /* position: fixed; */
    overflow: hidden;
    border-style: double;
    text-align: center;
    font-size: 13px;
    /* box-sizing:border-box;
    font-family:Helvetica; */
  }
  * {
    box-sizing:border-box;
    font-family:Helvetica;
    
  }
  fieldset{
    border: 1px solid #333;
  }